.profile__subtittle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-top: 16px;
  grid-column: 1/-1;
  text-overflow: ellipsis;  
  white-space: nowrap;
  overflow: hidden;
  color: #FFFFFF;
}


@media screen and (max-width: 768px) {
  .profile__subtittle {
    font-size: 14px;
    line-height: 17px;
    justify-self: center;
    margin-top: 14px;    
  }
}