@import url(./__tittle/popup__tittle.css);
@import url(./__tittle/_type/popup__title_type_question.css);
@import url(./__container/popup__container.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__form-container/popup__form-container.css);
@import url(./__form-item/popup__form-item.css);
@import url(./__form-item/_position_bottom/popup__form-item_position_bottom.css);
@import url(./__form-item/_state/popup__form-item_state_invalid.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__save-button/_invalid/popup__save-button_invalid.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__image/popup__image.css);
@import url(./__image-title/popup__image-title.css);
@import url(./__error/popup__error.css);




.popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.4s ease-in-out; 
}

